.newspaper {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
}
#status {
		visibility: hidden;
}
#mynetwork {
	position:absolute;
	left: 0.5vw;
	width: 75.5vw;
	height: 81.5vh;
	border: 0px solid #444444;
	background-color: #180E15;
}

#text {
	position:absolute;
	top:8px;
	left:530px;
	width:30px;
	height:50px;
	margin:auto auto auto auto;
	font-size:22px;
	color: #000000;
}


div.outerBorder {
	position:relative;
	top:400px;
	width:600px;
	height:44px;
	margin:auto auto auto auto;
	border:8px solid rgba(0,0,0,0.1);
	background: rgb(252,252,252); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border-radius:72px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

#border {
	position:absolute;
	top:10px;
	left:10px;
	width:500px;
	height:23px;
	margin:auto auto auto auto;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
	border-radius:10px;
}

#bar {
	position:absolute;
	top:0px;
	left:0px;
	width:20px;
	height:20px;
	margin:auto auto auto auto;
	border-radius:11px;
	border:2px solid rgba(30,30,30,0.05);
	background: rgb(0, 173, 246); /* Old browsers */
	box-shadow: 2px 0px 4px rgba(0,0,0,0.4);
}

#commandbox{
	position:absolute;
	top: 87vh;
	left -20px;
	width:98vw;
	height:9.5vh;
	margin:bottom;
	border:8px solid rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

#grabar{
	position:absolute;
	top: 10vh; 
	left:1vw;
	width:1.2vw;
	height: 70vh;
	background: red; /* For browsers that do not support gradients */
	background: linear-gradient(yellow,red); /* Standard syntax */
	text-align: center;
	vertical-align: middle;
	margin:auto;
	border-radius: 0.8vw;
}
	
#jsonarea{
	position:absolute;
	left:10px;
	top:5px;
	width: 87vw;
	height: 8vh;
}

.textcentering{
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#netcontainer{
}

.flatbutton {
	color: #fff;
	background-color: #6496c8;
	text-shadow: -1px 1px #417cb8;
	border: none;
	left:88.5vw;
	top:5px;
	border-radius: 2px;
	}

.flatbutton:hover,
	section.flat button.hover {
	  background-color: #346392;
	  text-shadow: -1px 1px #27496d;
	}

.flatbutton:active,
.flatbutton.active {
	  background-color: #27496d;
	  text-shadow: -1px 1px #193047;
	}

.vis-configuration-wrapper {
    display:none	!imprtant;
    visibility: hidden	!imprtant;
}

.floatBox{
	position: fixed;
	float: right;
	color: #F2F4F4;
	margin-right: 25px;
	margin-bottom: 50px;
	top: 50px;
}
/*  Style for editing the network*/
table.legend_table {
   font-family: Sans-serif, serif;
   font-size: 11px;
   border-width:1px;
   border-color:#d3d3d3;
   border-style:solid;
 }
 table.legend_table,td {
   border-width:1px;
   border-color:#d3d3d3;
   border-style:solid;
   padding: 2px;
 }
 div.table_content {
   width:80px;
   text-align:center;
 }
 div.table_description {
   width:100px;
 }

 #operation {
   font-size:28px;
 }
 #node-popUp {
   display:none;
   position:absolute;
   top:350px;
   left:170px;
   z-index:299;
   background-color: #f9f9f9;
   border-style:solid;
   border-width:3px;
   border-color: #5394ed;
   padding:10px;
   text-align: center;
   border-radius: 5px;
   border: 2px solid ##6496c8;
   box-shadow: 0 8px 168px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 #edge-popUp {
   display:none;
   position:absolute;
   top:350px;
   left:170px;
   z-index:299;
   background-color: #f9f9f9;
   border-style:solid;
   border-width:3px;
   border-color: #5394ed;
   padding:10px;
   text-align: center;
   border-radius: 5px;
   border: 2px solid ##6496c8;
   box-shadow: 0 8px 168px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 
#locale {
  margin: 1px;
  border: 1px solid #111;
  background: transparent;
  width: 150px;
  padding: 4px 31px 4px 4px;
  font-size: 11px;
  border: 1px solid #ccc;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(img/lang.png) 90% / 13% no-repeat #eee;
  font-family: Sans-serif, serif;
}

#clusterButton{
  margin: 1px;
  border: 1px solid #111;
  background: transparent;
  width: 170px;
  padding: 4px 31px 4px 4px;
  font-size: 11px;
  border: 1px solid #ccc;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(img/cluster.png) 90% / 10% no-repeat #eee;
  font-family: Sans-serif, serif;
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
  border-radius: 2px;
  margin-left: 5vw;
}

#clusterButton:hover,
	section.flat button.hover {
	  background-color: #346392;
	  text-shadow: -1px 1px #27496d;
	}

#clusterButton:active,
#clusterButton.active {
	  background-color: #27496d;
	  text-shadow: -1px 1px #193047;
	}

body{
	background-color: #070507;
}

/* Comment box */

#comments-box {
	position:absolute;
	width: 23vw;
	right: 0.5vw;
	height: 81.5vh;
	border: 0px solid #444444;
	background-color: #180E15;
    text-align: justify;
    text-justify: inter-word;
	overflow-y:scroll;
	overflow-x:hidden;
}
.welcome {
	text-align:center;
	font-size:2em;
	color:#ffe6e6;
	text-align:center;
	vertical-align: middle;
	height:70vh;text-justify: 
	inter-word;line-height:70vh;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.block-item {
	float:right;
	-webkit-transform:translateX(100%);
	-moz-transform:translateX(100%);
	transform:translateX(100%);	
	opacity:0;
	overflow:hidden;
	padding:10px 5px 10px 5px;
	width:21.5vw;
	height:auto;
	line-height:30px;
	background:#4A3247;
	color:#FFF;
	font-family: Sans-Serif, serif, Times;
	font-size: 0.875em;
	line-height: 1.3em;
	text-align: justify;
    text-justify: inter-word;
	-webkit-animation: slide 1s forwards;
	-moz-animation: slide 1s forwards;
	-ms-animation: slide 1s forwards;
	animation: slide 1s forwards;
}
.block-item:nth-child(2n) {
	background:#2D1E26;
}
@-webkit-keyframes slide{100%{opacity:1;-webkit-transform:translateY(0%)}}
@-moz-keyframes slide{100%{opacity:1;-moz-transform:translateY(0%)}}
@keyframes slide{100%{opacity:1;transform:translateY(0%)}}
.block-item:nth-child(2) { 
	-webkit-animation-delay: .02s;
	-moz-animation-delay: .02s;
	-ms-animation-delay: .02s;
	animation-delay: .02s;
}
.block-item:nth-child(3) { 
	-webkit-animation-delay: .03s;
	-moz-animation-delay: .03s;
	-ms-animation-delay: .03s;
	animation-delay: .03s;
}
.block-item:nth-child(4) { 
	-webkit-animation-delay: .04s;
	-moz-animation-delay: .04s;
	-ms-animation-delay: .04s;
	animation-delay: .04s;
}
.block-item:nth-child(5) { 
	-webkit-animation-delay: .05s;
	-moz-animation-delay: .05s;
	-ms-animation-delay: .05s;
	animation-delay: .05s;
}
.block-item:nth-child(6) { 
	-webkit-animation-delay: .06s;
	-moz-animation-delay: .06s;
	-ms-animation-delay: .06s;
	animation-delay: .06s;
}
.block-item:nth-child(7) { 
	-webkit-animation-delay: .07s;
	-moz-animation-delay: .07s;
	-ms-animation-delay: .07s;
	animation-delay: .07s;
}
.block-item:nth-child(8) { 
	-webkit-animation-delay: .08s;
	-moz-animation-delay: .08s;
	-ms-animation-delay: .08s;
	animation-delay: .08s;
}
.block-item:nth-child(9) { 
	-webkit-animation-delay: .09s;
	-moz-animation-delay: .09s;
	-ms-animation-delay: .09s;
	animation-delay: .09s;
}
.block-item:nth-child(10) { 
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-ms-animation-delay: .1s;
	animation-delay: .1s;
}
#comments-box::-webkit-scrollbar {
    width: .5em;
}
 
#comments-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#comments-box::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Flash class and keyframe animation */
.flashit{
  color:#E5E5E5;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 3s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
/* Pulse class and keyframe animation */
.pulseit{
	-webkit-animation: pulse linear .5s infinite;
	animation: pulse linear .5s infinite;
}
@-webkit-keyframes pulse {
	0% { width:200px; } 
	50% { width:340px; } 
	100% { width:200px; }
}
@keyframes pulse {
	0% { width:200px; } 
	50% { width:340px; } 
	100% { width:200px; }
}
